/* p,li,h2{
        color: red;
        width: 500px;
        border: 1px solid black;
}
h1{
        color: blue;
} */

/* html { */
        /* font-size: 10px; px means "pixels": the base font size is now 10 pixels high */
        /* font-family: "Open Sans", sans-serif; this should be the rest of the output you got from Google Fonts */
 /* } */
h1{
     font-size: 30px;
     text-align: center;   
}

h2{
        font-size: 20px;
        text-align: left;
        
}


p,li,a{
        font-size: 20px;
        line-height: 2;
        letter-spacing: 1px;
}

html{
        background-color:azure;
}

body {
        width: 800px;
        margin: 0 auto;
        background-color:beige;
        padding: 0 20px 20px 20px;
        border: 10px solid black;
      }
      
h1 {
        margin: 0;
        padding: 20px 0;
        color:royalblue;
        text-shadow: 1px 1px 1px black;
      }
img {
        display: block;
        margin: 0 auto;
        max-width: 100%;
      }
